@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@300&display=swap");

:root {
	--primary: #9022f640;
    --secondary: #8080802b;
	--border: #9022f6;
	--hover: #892be2b7;
	--transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}